* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #CFBAAB;
  font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#header {
  width: 100%;
  padding: 1px 0;
  color: #DECDC1;
  background-color: #0D030B;
  font-size: 1.2em;
  font-variant: small-caps; 
  font-weight: normal;
  text-align: center;
}

#nav {
  display: flex;
  flex-direction: column;
  background-color: #7A6A5C;
}

#nav .filter-button {
  padding: 12px 0;
  border: none;
  cursor: pointer;
  color: #DECDC1;
  background-color: #7A6A5C;
  font-size: 1.1em;
}

#nav .filter-button:hover {
  color: #DECDC1;
  background-color: #0D030B;
}

#main {
  max-width: 900px;
  margin: auto;
  padding-bottom: 100px; /*footer height x2*/
}

.todo-form-add {
  display: flex;
  margin: 20px 5px 0;
}

.todo-form-edit {
  display: flex;
  margin-top: 5px;
}

.todo-form-add input,
.todo-form-edit input {
  width: 80%;
  padding: 10px;
  border: 1px solid #643C4B;
  color: #0D030B;
  background-color: #DECDC1;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.todo-form-add input:required,
.todo-form-edit input:required {
  box-shadow: none;
}

.todo-form-add button,
.todo-form-edit button {
  width: 19%;
  margin-left: auto;
  padding: 11px 0;
  border: none;
  cursor: pointer;
  color: #DECDC1;
  background-color: #643C4B;
  font-size: 1.1em;
}
.todo-form-add button:hover,
.todo-form-edit button:hover {
  color: #DECDC1;
  background-color: #7A6A5C;
}

.todo-table {
  margin: 20px 5px 0;
}

.todo-row {
  display: flex;
  margin-top: 5px;
  padding: 12px;
  color: #0D030B;
  background-color: #DECDC1;
  font-size: 1.1em;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.todo-row .todo-content {
  width: 70%;
}

.todo-row .todo-content-completed {
  text-decoration: line-through;
}

.todo-row button {
  width: 10%;
  border: none;
  cursor: pointer;
  color: #0D030B;
  background-color: transparent;
  font-size: 1.1em;
}

.todo-row .active-button {
  color: #0D030B;
}

.todo-row .completed-button {
  color: #0D030B;
}

.todo-row .delete-button:hover,
.todo-row .edit-button:hover {
  opacity: 0.6;
  background-color: transparent;
}

#footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  color: #DECDC1;
  background-color: #0D030B;
  font-size: 1em;
  font-variant: small-caps; 
  font-weight: normal;
  text-align: center;
}

@media screen and (min-width: 800px) {
  #nav {   
    flex-direction: row;
    justify-content: center;
  }
  #nav .filter-button {
    width: 15%;
  }
}
